*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: darkgray;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.images {
  display: flex;
  gap: 2rem;
}

.images > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.images > div > h2 {
  font-size: 2rem;
}

.images img {
  cursor: pointer;
}

.container {
  position: relative;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: none;
  background-color: cadetblue;
}

.modal svg {
  cursor: pointer;
}

.modal .header {
  display: flex;
  justify-content: end;
  padding: 2rem;
}

#check_images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: cadetblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#check_images img {
  width: 400px;
  height: 400px;
}
